---
services:
  # OPENSEARCH
  opensearch-server: 
    image: opensearchproject/opensearch:$OS_VERSION
    container_name: opensearch-server
    hostname:       opensearch-server
    
    environment:
      cluster.name: opensearch-server
      node.name:    opensearch-server
      discovery.type: single-node

      plugins.security.allow_default_init_securityindex: 'true'
      plugins.security.allow_unsafe_democertificates:    'false'
      plugins.security.nodes_dn:        'CN=admin'
      plugins.security.authcz.admin_dn: 'CN=admin'

      plugins.security.ssl.http.enabled: 'true'
      plugins.security.ssl.http.pemkey_filepath:        certificates/key/server.key 
      plugins.security.ssl.http.pemcert_filepath:       certificates/crt/server.crt
      plugins.security.ssl.http.pemtrustedcas_filepath: certificates/crt/server.crt
      
      plugins.security.ssl.transport.enabled: 'true'
      plugins.security.ssl.transport.pemkey_filepath:        certificates/key/server.key 
      plugins.security.ssl.transport.pemcert_filepath:       certificates/crt/server.crt
      plugins.security.ssl.transport.pemtrustedcas_filepath: certificates/crt/server.crt
      plugins.security.ssl.transport.enforce_hostname_verification: 'false'

      compatibility.override_main_response_version: 'true'
      
      DISABLE_INSTALL_DEMO_CONFIG: 'true'
      COMPATIBILITY_OVERRIDE_MAIN_RESPONSE_VERSION: 'true'
      logger.level: INFO

      LDAP_HOST: $LDAP_HOST
      LDAP_USER: $LDAP_USER
      LDAP_PASS: $LDAP_PASS
      LDAP_USER_BASE: $LDAP_USER_BASE
      LDAP_ROLE_BASE: $LDAP_ROLE_BASE

    ulimits:
      memlock:
        soft: -1 
        hard: -1
      nofile:
        soft: 65536 
        hard: 65536
    volumes:
      - type: bind
        source: ./ssl
        target:  /usr/share/opensearch/config/certificates
        read_only: true
      
      - type: bind
        source: ./configs/opensearch/internal_users.yml
        target:  /usr/share/opensearch/config/opensearch-security/internal_users.yml
        read_only: true
      
      - type: bind
        source: ./configs/opensearch/config.yml
        target:  /usr/share/opensearch/config/opensearch-security/config.yml
        read_only: true

      - type: bind
        source: ./configs/opensearch/roles_mapping.yml
        target:  /usr/share/opensearch/config/opensearch-security/roles_mapping.yml
        read_only: true

      - type: volume 
        source: opensearch-server
        target: /usr/share/opensearch/data
        read_only: false
    ports:    ['9200:9200', '9600:9600']
    networks: ['opensearch-net']
    restart: unless-stopped

  # DASHBOARDS
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:$OS_VERSION
    container_name: opensearch-dashboards
    hostname:       opensearch-dashboards
    environment:
      SERVER_NAME: opensearch-dashboards
      SERVER_HOST: 0.0.0.0

      OPENSEARCH_USERNAME: kibanaserver
      OPENSEARCH_PASSWORD: a12345678

      SERVER_SSL_ENABLED: 'true'
      SERVER_SSL_KEY:         /usr/share/opensearch-dashboards/config/certificates/key/server.key
      SERVER_SSL_CERTIFICATE: /usr/share/opensearch-dashboards/config/certificates/crt/server.crt
      
      OPENSEARCH_SSL_CERTIFICATEAUTHORITIES: '["/usr/share/opensearch-dashboards/config/certificates/crt/server.crt"]'
      OPENSEARCH_SSL_VERIFICATIONMODE: certificate

      OPENSEARCH_HOSTS: '["https://opensearch-server:9200"]'

      DISABLE_INSTALL_DEMO_CONFIG: 'true'

    volumes:
      - type: bind
        source: ./ssl
        target:  /usr/share/opensearch-dashboards/config/certificates
        read_only: true

    ports:    ['5601:5601']
    networks: ['opensearch-net']
    restart: unless-stopped


volumes:
  opensearch-server:
    name: opensearch-server

networks:
  opensearch-net:
    name: opensearch-net
